################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs
/leetcodecpp.vcxproj.user
/leetcodecpp.vcxproj.filters
/leetcodecpp.vcxproj
/leetcodecpp.sln
